{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='DD.MM.YYYY'}}">{{date format="DD.MM.YYYY"}}</time></div>
        </header>
        <section class="post-excerpt">
            <a class="excerptlink" href="{{url}}"><p>{{excerpt words="25"}}&hellip;
	    <i class="fa fa-angle-double-right" style="padding-left: 5px;"></i></p></a>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
